<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home']">
    <img src="../clientes/assets/logo_banco.png" width="168" height="48" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Inicio</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Cuentas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"[routerLink]="['/cuentasRegistradas']">Cuentas Inscritas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/inscribirCuentaPropia']">Inscribir Cuentas Propias</a>
          <a class="dropdown-item" [routerLink]="['/inscribirCuentaAjena']">Inscribir Cuentas Ajenas</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Transacciones Bancarias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" [routerLink]="['/realizarTraslado']">Realizar traslado</a></div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{nombreCliente}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/perfil']">Modificar Datos </a>
            <a class="dropdown-item" href="#">Cerrar Sesión</a></div>
        </li>
      </ul>
    </form>
  </div>
</nav>