<app-navbar></app-navbar>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Realizar traslados de dinero</h2>
      <br>
    </div>
  </div>
  <div class="row">
    
    <div class="col-md-4" *ngIf="cuentaOrigen">
      <h6>Origen: {{cuentaOrigen.cuenId}} </h6>

    </div>
    <div class="col-md-4" *ngIf="cuentaDestino">
      <h6>Destino: {{cuentaDestino.cuenId}} </h6>

    </div>
    <div class="col-md-4">
      <input class="form-control" name="valor" [(ngModel)]="valor" type="text" placeholder="Valor">
    </div>
  </div>
  <div class="row justify-content-center" >

      <div class="col-lg-6 align-self-center">
        <br>
          <button type="button" (click)="realizarTraslado()" class="btn btn-danger btn-lg btn-block">Realizar traslado</button>
          <br>
          <div  class="alert alert-warning col-12" *ngIf="mostrarAlerta" role="alert">
              {{mensaje}}
          </div>
          <div  class="alert alert-success col-12" *ngIf="mostrarExito" role="alert">
              {{mensaje}}
          </div>
          <br>
        </div>
  </div>
<br>
  <div class="row">
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Tus cuentas</h5>
          <table class="table table-hover" *ngIf="cuentas.length>0">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Activo</th>
                <th scope="col">Saldo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cuenta of cuentas" (click)="seleccionarCuentaOrigen(cuenta)">
                <th>{{cuenta.cuenId}}</th>
                <th>{{cuenta.activa}}</th>
                <th>{{cuenta.saldo | currency:'COP':true}}</th>
              </tr>
            </tbody>

          </table>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100">

        <div class="card-body">
          <h5 class="card-title">Cuentas Destino</h5>

          <table class="table table-hover " *ngIf="cuentasRegistradas.length>0;else placeholder">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Activo</th>

                <th scope="col">Titular </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cuenta of cuentasRegistradas" (click)="seleccionarCuentaDestino(cuenta)">
                <th>{{cuenta.cuenId}}</th>
                <th>{{cuenta.activa}}</th>
                <th>{{cuenta.clienteNombre}}</th>
                <th>
              </tr>
            </tbody>

          </table>
          <ng-template #placeholder>
            <div class="container">
              No hay cuentas registradas, para hacer traslados debes tener cuentas registradas
            </div>
          </ng-template>
        </div>

      </div>
    </div>
  </div>
</div>