<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Fecha</th>
      <th scope="col">Valor</th>
      <th scope="col">Cuenta</th>
      <th scope ="col">Tipo transaccion</th>
      <th scope ="col">Usuario</th>
      
    </tr>
  </thead>
  <tbody>
<tr *ngFor="let transaccion of transacciones">
  <th>{{transaccion.tranId}}</th>
  <th>{{transaccion.fecha | date:'medium' }}</th>
  <th>{{transaccion.valor | currency:'COP':true}}</th>
  <th>{{transaccion.cuenId}}</th>
  <th>{{transaccion.nombreTipoTransaccion}}</th>
  <th>{{transaccion.usuUsuario}}</th>
</tr>
</tbody>

<table>