<app-navbar></app-navbar>
<div class="containter">
  <div class="row">
    <div class="col-md-5">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Tus cuentas</h5>
          <app-lista-cuentas></app-lista-cuentas>
        </div>

      </div>
    </div>
    <div class="col-md-7">
      <div class="card h-100">

        <div class="card-body">
          <h5 class="card-title">Ultimas Transacciones</h5>
          <app-ultimas-transacciones></app-ultimas-transacciones>
        </div>

      </div>
    </div>
  </div>
</div>
