<app-navbar></app-navbar>
<div class="container">
  <br>
  <h3 align="center" class="bd-title" id="content">Inscribir cuentas Propias</h3>
  <div class="containter">
    <div class="row">
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Tus cuentas</h5>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Activo</th>
                  <th scope="col">Saldo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cuenta of cuentas" (click)="seleccionarCuenta(cuenta)" >
                  <th>{{cuenta.cuenId}}</th>
                  <th>{{cuenta.activa}}</th>
                  <th>{{cuenta.saldo | currency:'COP':true}}</th>
                </tr>
              </tbody>

            </table>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="card h-100">

          <div class="card-body" *ngIf="cuentaSeleccionada;else mensaje">
            <h5 class="card-title">Detalles de la cuenta</h5>
            <h6>Cuenta Id: {{cuentaSeleccionada.cuenId}}</h6>
            <h6>Activa : {{cuentaSeleccionada.activa}}</h6>
            <h6>Saldo : {{cuentaSeleccionada.saldo}}</h6>
            <button type="button" (click)="registrarCuenta()" class="btn btn-success btn-lg btn-block">Inscribir cuenta</button>
              <br>
             <div *ngIf="dialogAprobacion" class="alert alert-success" role="alert">
             <h6>{{mensajeAprobacion}}</h6>
            </div>
            <div *ngIf="dialogError" class="alert alert-warning" role="alert">
                <h6>{{mensajeError}}</h6> 
            </div>
          </div>
          <ng-template #mensaje>
              <div class="container">
              Selecciona la cuenta que deseas registrar
              </div> 
             </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>