<app-navbar></app-navbar>

 <div class="card-body">
          <h5 class="card-title">Cuentas Registradas</h5>
       
<table class="table table-hover">
  <thead >
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Activo</th>
    
      <th scope="col">Titular </th>
    </tr>
  </thead>
  <tbody>
<tr *ngFor="let cuenta of cuentas">
  <th>{{cuenta.cuenId}}</th>
  <th>{{cuenta.activa}}</th>
  <th>{{cuenta.clienteNombre}}</th>
  <th>
</tr>
</tbody>

</table>
        </div>
