<app-navbar></app-navbar>
<br>
<div class="container">
  <h2>Editar datos personales</h2>
  <br>
  <div  class="alert alert-warning col-12" *ngIf="mostrarAlerta" role="alert">
      {{mensaje}}
  </div>
  <div  class="alert alert-success col-12" *ngIf="mostrarExito" role="alert">
      {{mensaje}}
  </div>
  <br>
  <form>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input name="nombre" [(ngModel)]="cliente.nombre" disabled="true" type="text" class="form-control" id="nombre" placeholder="Nombre">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" [(ngModel)]="cliente.email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="direccion">Direccion</label>
      <input type="direccion" name="direccion" [(ngModel)]="cliente.direccion"  class="form-control" id="direccion" placeholder="direccion">
    </div>
    <div class="form-group">
      <label for="Telefono">Telefono</label>
      <input type="Telefono" name="telefono" [(ngModel)]="cliente.telefono"  class="form-control" id="Telefono" placeholder="Telefono">
    </div>
    <button type="button" class="btn btn-lg btn-primary" (click)="actualizar()">Guardar Cambios</button>

  </form>
</div>