<app-navbar></app-navbar>
<br>
<div class="container">
  <div class="align-self-center">
    <div>
      <br>
      <h2>Inscribir cuenta ajena</h2>
      <br>
      <form>
        <div class="form-row">
          <div class="col-5">
            <input type="text" [(ngModel)]="cuenId" class="form-control" name="idCuenta" placeholder="Id Cuenta">
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="id" class="form-control" name="idCliente" placeholder="Id cliente">
          </div>
          <div class="col">
            <select name="tidoc" [(ngModel)]="tiDoc" class="custom-select mr-sm-2">
              <option [value]="-1">Escoge uno...</option>
              <option *ngFor="let tipo of tiposDocumentos" [value]="tipo.tdocId">{{tipo.tdocId}} | {{tipo.nombre}}</option>

            </select>
          </div>
          <div class="col">
              <button type="button" (click)="validar()" class="btn btn-danger">Validar</button>
          </div>
          <div class="col-12" *ngIf="cliente">
            <br>
            <h5>Nombre del cliente: {{cliente.nombre}} </h5>

          </div>
          <br>  
          <div  class="alert alert-warning col-12" *ngIf="mostrarAlerta" role="alert">
              {{mensaje}}
          </div>
          <div  class="alert alert-success col-12" *ngIf="mostrarExito" role="alert">
              {{mensaje}}
          </div>
        </div>
        <br>
        <button type="button" class="btn btn-danger btn-lg btn-block" (click)="registrar()">Inscribir cuenta</button>
      </form>

    </div>
  </div>
</div>