.principal{
    position: absolute;
    height: 100%;
    width: 100%;
    background: whitesmoke;
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    margin-top: -18%;
    
}

