

<div class ="principal">
<div class="card" >
  <div class="card-body">
     <img class="img" src="../assets/logo_banco.png"  alt="Card image cap">

    <h5 class="card-title">Iniciar sesión</h5>
  <div>
  <div class="alert alert-danger" *ngIf="mostrarAlerta" role="alert">
 {{mensaje}}
</div>

  <form>
  <div class="form-group">
    <label for="cuentaId">Id de la cuenta</label>
    <input type="text"  [(ngModel)]="cuenId" name="cuentaId" class="form-control" id="cuentaId" placeholder="Ingresa la cuenta">
    </div>
     <div class="form-group">
    <label for="clienteId">Id del cliente</label>
    <input type="number"  [(ngModel)]="clieId" name="clieId" class="form-control" id="clienteId" placeholder="Identificación">
    </div>
    
  <div class="form-group">
    <label for="clave">Contraseña</label>
    <input type="password"  [(ngModel)]="clave" name="clave" class="form-control" id="clave" placeholder="Contraseña">
  </div>
  <button  type="button"(click)="login()" class="btn btn-danger">Ingresar al portal</button>
</form>
  </div>   
  </div>
</div>


</div>
