<table class="table table-hover">
  <thead >
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Activo</th>
      <th scope="col">Saldo</th>
    </tr>
  </thead>
  <tbody>
<tr *ngFor="let cuenta of cuentas" (click)="verTransacciones(cuenta.cuenId)">
  <th>{{cuenta.cuenId}}</th>
  <th>{{cuenta.activa}}</th>
  <th>{{cuenta.saldo | currency:'COP':true}}</th>
</tr>
</tbody>

</table>