@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.table-fixed {
    width: 100%;
    background-color: #f3f3f3;
  }
  .table-fixed tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%;
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tbody td {
    float: left;
  }
  .table-fixed thead tr th {
    float: left;
    background-color: #f39c12;
    border-color: #e67e22;
  }
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #e74c3c;
    color: white;
  }