<app-navbar></app-navbar>

<div class="container row">
  <div class="col-lg-6">
    <br>
    <h6> Transacciones de la cuenta: {{cuenta.cuenId}} </h6>

    <h6 class="font-weight-normal">Saldo: {{cuenta.saldo | currency:'COP':true}}</h6>
  </div>
  <div class="col-lg-6">
    <br>
    <button type="button" (click)="showDialog()" class="btn btn-outline-danger">Cambiar la contraseña</button>
    <br>
  </div>
  <table class="table" *ngIf="transacciones.length>0; else placeholder">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Fecha</th>
        <th scope="col">Valor</th>
        <th scope="col">Tipo transaccion</th>
        <th scope="col">Usuario</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaccion of transacciones">
        <th>{{transaccion.tranId}}</th>
        <th>{{transaccion.fecha | date:'medium' }}</th>
        <th>{{transaccion.valor | currency:'COP':true}}</th>
        <th>{{transaccion.nombreTipoTransaccion}}</th>
        <th>{{transaccion.usuUsuario}}</th>
      </tr>
    </tbody>
  </table>
  <ng-template #placeholder>
   <div class="container">
      No hay transacciones registradas hasta la fecha
   </div> 
  </ng-template>

      <div id="myModal" class="modal" *ngIf="dialogCambioClave">

        <!-- Modal content -->
        <div class="modal-content">
          <h2>Cambiar clave de la cuenta</h2>
          <h3>{{cuenta.cuenId}}</h3>
          <div *ngIf="dialogAprobacion" class="alert alert-success" role="alert">
             <h6>{{mensajeAprobacion}}</h6>
            </div>
            <div *ngIf="dialogError" class="alert alert-warning" role="alert">
                <h6>{{mensajeError}}</h6> 
            </div>
          <form>
            <div class="form-group">
              <label for="formGroupExampleInput">Contraseña anterior</label>
              <input type="password" name="claveAnterior" [(ngModel)]="claveAnterior"class="form-control" id="formGroupExampleInput" placeholder="Ingresa la contraseña anterior">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Nueva contraseña</label>
              <input type="password" name="nuevaClave" [(ngModel)]="claveNueva" class="form-control" id="formGroupExampleInput2" placeholder="Ingresa la nueva contraseña">
            </div>
            <button type="button" class="btn btn-lg btn-success" (click)="cambiarClave()">Guardar cambios</button>
            <button type="button" class="btn btn-danger btn-lg" (click)="closeDialog()">Cerrar</button>
          </form>
        </div>

      </div>